<%- include partial/header.ejs %>
<h1>Home</h1>
<p> <%= startingContent %> </p>

<% blogPost.forEach(function(blogPost){ %>
    
<h2><%= blogPost.title %> </h2>
<p><%=blogPost.post.substring(0,100) + '...' %></p>
<a href="/posts/<%=blogPost.title %>"> more</a>
<% }) %>


<%- include partial/footer.ejs %>